In [1]:
import pandas as pd
from daq.interfacedb import setup_lbnl

import pandas as pd
import numpy as np

import re

In [2]:
db,dbname = setup_lbnl()

In [3]:
start_time = '2018-06-01'
final_time = '2018-07-01'

occ = ['occ_third_count','occ_fourth_count']
occ_map = {'occ_third_count':'occ_third_south','occ_fourth_count':'occ_fourth_south'}
data = pd.DataFrame()
for field in occ:
    data_single = db.get_data(field,dbname,start_time,final_time)
    data = pd.concat([data,data_single], axis=1)
data.rename(columns=occ_map,inplace=True)
data.head()
# data.to_csv('{}/occ.csv'.format(path_to_file))

09/04/2021 10:11:44 AM	daq.daq.interfacedb INFO	Data for occ_third_count retrieved from database dhblum.
09/04/2021 10:11:45 AM	daq.daq.interfacedb INFO	Data for occ_fourth_count retrieved from database dhblum.

                           occ_third_south  occ_fourth_south
2018-06-01 00:00:00+00:00               28                11
2018-06-01 00:01:00+00:00               29                 8
2018-06-01 00:02:00+00:00               31                 9
2018-06-01 00:03:00+00:00               31                 9
2018-06-01 00:04:00+00:00               31                11

In [4]:
start_time = '2020-12-01'
final_time = '2021-01-01'

ele = ['sub590A14A','sub590A15A','sub590A1A','sub590A2A','sub596A1A1A','sub596A1A2A']
ele_map = {'sub590A14A':'mels_S','sub590A15A':'lig_S','sub590A1A':'lig_N',
           'sub590A2A':'mels_N','sub596A1A1A':'hvac_N','sub596A1A2A':'hvac_S'}
data = pd.DataFrame()
for field in ele:
    data_single = db.get_data(field,dbname,start_time,final_time)
    data = pd.concat([data,data_single], axis=1)
data.rename(columns=ele_map,inplace=True)
data.head()
# data.to_csv('{}/ele_raw.csv'.format(path_to_file))

09/04/2021 10:11:50 AM	daq.daq.interfacedb INFO	Data for sub590A14A retrieved from database dhblum.
09/04/2021 10:11:50 AM	daq.daq.interfacedb INFO	Data for sub590A15A retrieved from database dhblum.
09/04/2021 10:11:50 AM	daq.daq.interfacedb WARNING	Data for sub590A1A not found in database.  Check that the key and time interval are correct and that there is data during the time interval.
09/04/2021 10:11:50 AM	daq.daq.interfacedb INFO	Data for sub590A2A retrieved from database dhblum.
09/04/2021 10:11:50 AM	daq.daq.interfacedb INFO	Data for sub596A1A1A retrieved from database dhblum.
09/04/2021 10:11:51 AM	daq.daq.interfacedb INFO	Data for sub596A1A2A retrieved from database dhblum.

                             mels_S  lig_S    mels_N     hvac_N     hvac_S
2020-12-01 08:00:00+00:00  0.000000    0.0  8.481111  25.617647  20.365789
2020-12-01 08:15:00+00:00  0.000000    0.0  8.474375  26.465000  19.875789
2020-12-01 08:30:00+00:00  0.007143    0.0  8.285556  24.815000  19.544500
2020-12-01 08:45:00+00:00  0.000000    0.0  8.563333  26.217647  21.476667
2020-12-01 09:00:00+00:00  0.000000    0.0  8.093158  25.830000  19.361579